.admin {
    background-color: #EE9611;
    color: #1169EE;
}
.results {
    background-color: #000;
    color: #FECE01;
}
.landing {
    background-color: #4F0DF2;
    color: #B0F20D;
}
.default {
    background-color: #DA2540;
    color: #25DABF;
}
.manage {
    background-color: #2681D9;
    color: #F18F0E;
}
